.EncabezadoArmadopc{
    text-align: center;
    color: rgb(205, 186, 222);
    background-color: blueviolet;
    padding: 20px; 
}
.video{
    padding-left: 650px;
}
.linkYt{
    text-align: center;
    font-size: x-large;
    color: rgb(161, 79, 237);
}