.conocenosmas{
    text-align: center;
    background-color: blueviolet;
    color: rgb(236, 230, 241);
    padding: 15px;
}
.UBICACION{
    color: blueviolet;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    background-color: rgb(206, 183, 227);

}